#-------------------------------------------------------------------------------
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Global gitignore file
#-------------------------------------------------------------------------------

/*.txt
