################################################################################
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Global gitignore file
################################################################################

# Matlab
*.asv
matlab_output/
#*.txt

# Python
__pycache__
