#-------------------------------------------------------------------------------
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Local gitignore file
#-------------------------------------------------------------------------------

######## VHDL #########

# cocotb
sim_build/
*.lst
*.xml
*.o
__pycache__

*.txt

fm_receiver
dspfir

######## HLS ##########

# Vivado
generated/
*.log
