#-------------------------------------------------------------------------------
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Local gitignore file
#-------------------------------------------------------------------------------

######## VHDL #########

# cocotb
sim_build/
vhdl/**/*.lst
vhdl/tb/**/*.xml
vhdl/**/*.txt
*.o
__pycache__


fm_receiver_top
dspfir

######## HLS ##########

# Vivado
generated/
output/
vivado/**/*.str
.Xil/
