#-------------------------------------------------------------------------------
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Local gitignore file for sim
#-------------------------------------------------------------------------------

# Matlab
*.asv
matlab_output/

# GNU Radio
__pycache__
