#-------------------------------------------------------------------------------
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Local gitignore file for doc
#-------------------------------------------------------------------------------

# LaTeX
*.aux
*.fls
*.log
*.lof
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex
*.synctex(busy)
*.tps
*.bdic

lines-of-code-analysis/output/
