#-------------------------------------------------------------------------------
# File        : .gitignore
# Author      : Michael Wurm <wurm.michael95@gmail.com>
# Description : Local gitignore file for LaTeX docs
#-------------------------------------------------------------------------------

*.aux
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex
*.tps
